@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Colors
$bg-color: #DEC9E9;
$hacknyu: #4627A3;
$cat-purple: #8E76C7;


// Fonts
$titles: 'Mansalva', cursive;
$chonky: 'Bowlby One', cursive;
$paragraph: 'Montserrat', sans-serif;